@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/*
.container_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: white;
  z-index: 0;
  visibility: hidden;
  animation: loader 3s linear;
}



.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #8b77f1;
  border-top-color: #f002c0;
  border-radius: 50%;
  animation: spinner 1s infinite linear;

}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader {
  0% {
    z-index: 10;
    visibility: visible;
  }



}

*/
.container_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: white;
  z-index: 0;
  visibility: hidden;
  animation: loader 3s linear;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #8b77f1;
  border-top-color: #f002c0;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #f002c0;
  border-radius: 50%;
}

.loader:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #f002c0;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    z-index: 10;
    visibility: visible;
  }
}
*, ::after, ::before {
  box-sizing: border-box; /* le contenu sera ajusté automatiquement en fonction de
la taille disponible. */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*MON ANIMATION SUR LES H2 FONCTIONNEMENTS ET RESTAURANTS */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  10%, 40% {
    transform: translateY(-50px);
  }
  30%, 60% {
    transform: translateY(-25px);
  }
}
h2.rebond {
  animation: bounce 3s linear 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 2rem 0;
  margin: 0;
}

@media (max-width: 800px) {
  .city h2 {
    font-size: 1rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

.tuto h2 {
  width: 95%;
  margin: 0 auto;
}

.menus h2 {
  width: 80%;
  margin: 0 auto;
}

.card h3 {
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
  z-index: 20;
}
.card h3::after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 3rem;
  margin-top: 10px;
  background-color: transparent;
}
@media (max-width: 320px) {
  .card h3::after {
    content: "";
    background-color: transparent;
  }
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rbg(0 0 0/25%); /*"0 0 0.5rem" : Les trois premiers chiffres contrôlent l'ombre horizontale, l'ombre verticale et le flou de l'ombre respectivement. Dans ce cas, il n'y a pas de décalage horizontal ou vertical de l'ombre, donc les valeurs sont "0". Le flou de l'ombre est de "0.5rem", soit une demi-rem (unité de mesure relative).
"rgb(0 0 0 / 25%)" : Il s'agit de la couleur de l'ombre. Dans cet exemple, la couleur de l'ombre est un noir pur (0 0 0) avec une opacité de 25% (25% correspondant à 0.25 en décimal).*/
  padding: 0.3rem;
  margin: 0;
  position: relative; /* permet de positionner un élément de manière relative par rapport à sa position normale dans le flux du document. Lorsqu'un élément a la valeur "position: relative", il reste dans le flux du document, mais on peut le déplacer en utilisant les propriétés "top", "right", "bottom" et "left" pour ajuster sa position par rapport à son emplacement initial.*/
}

/*mon animation*/
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  animation: wiggleAnimation 2s linear 2;
}

@media (max-width: 375px) {
  header h1 {
    font-size: 2rem;
  }
}
@keyframes wiggleAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*tous les points city qui sont à l'interieur de main */
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #EAEAEA;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.3rem;
}

/* var(--lightgrey);*/
/* var(--purple);*/
/* var(--color-tertiary);*/
/* var(--darkgrey);*/
/* var(--lightergrey);*/
.explorer {
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .tuto {
    width: 100%;
    padding: 20px;
  }
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .tuto ol {
    padding: 0;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.75);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #ffffff;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.07);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  top: 20px;
  max-width: 100%;
  /*mon animation sur NOUVEAU   */
}
#homepage .menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 10px auto;
}
@media (max-width: 1000px) {
  #homepage .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .animate-card {
  transition: transform 0.3s ease-in-out;
}
#homepage .menus .animate-card:hover {
  animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
#homepage .menus .card__image {
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
  background-size: cover;
}
#homepage .menus .card__image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding-left: 16px;
  padding-bottom: 16px;
}
#homepage .menus .card__description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card__description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  font-weight: 600;
}
#homepage .menus .card__description h3 {
  padding-bottom: 0;
  font-weight: 600;
}
#homepage .menus .card__description p {
  padding-top: 0.3rem;
}

/* Animation sur les icônes du footer */
.footer-icons {
  animation: spinAnimation 8s linear forwards;
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Styles du footer */
footer .fas {
  opacity: 1;
  color: white;
  padding-right: 5px;
}

footer {
  padding-top: 40px;
  padding-right: 40px;
  background-color: #333333;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  color: white;
}

footer p {
  padding-right: 60px;
  font-size: 14px;
}

footer h2 {
  order: -1;
  padding-top: 1px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}

footer .contact {
  order: 1;
}

footer .mentions {
  order: 2;
}

footer .partenaire {
  order: 3;
}

footer .proposer {
  order: 4;
}

@media only screen and (max-width: 800px) {
  footer {
    padding: 1rem 2rem;
    flex-direction: column;
  }
  footer h2 {
    padding: 1rem 0;
  }
  footer p {
    padding: 0.2rem;
  }
  .fa,
  .fas {
    font-weight: 900;
    padding-right: 5px;
  }
  .proposer {
    order: 1;
  }
  .partenaire {
    order: 2;
  }
  .mentions {
    order: 3;
  }
  .contact {
    order: 4;
  }
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
@media (max-width: 414px) {
  #page-resto header::before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 414px) {
  #page-resto .banner {
    width: 100%;
    height: 30vh;
  }
}
#page-resto .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}

.resto__title h2 {
  text-align: center;
  font-family: "Shrikhand", "cursive";
  padding: 2rem 0;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  background-color: #F6F6F6;
}
.resto__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  font-weight: 600;
}

.resto__main {
  padding: 0 1rem;
}

@media (max-width: 375px) {
  .resto__title h2 {
    margin-left: -22px;
    padding: 0 18px;
    background: transparent;
  }
  .resto__title h2::before {
    right: -1rem;
    top: 50%;
  }
}
@media (max-width: 375px) {
  .resto__title h2::after {
    right: -1rem;
    top: 50%;
  }
  .resto__title h2::before {
    right: -1rem;
    top: 50%;
  }
}
/*centrer les catégories en version mobile SE*/
@media (max-width: 375px) {
  .menu-item {
    width: 95%;
    margin: 0;
  }
}
.menus {
  display: grid;
  margin-top: -4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  gap: 1rem;
  margin: auto;
  padding: 1rem;
  position: relative;
  background-color: #F6F6F6;
  max-width: 1055px;
  top: -1cm;
  margin-bottom: -38px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
@media (max-width: 1000px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .menus {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  z-index: 20;
}
h3::after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 3rem;
  margin-top: 10px;
  background-color: #99E2D0;
}
@media (max-width: 375px) {
  h3 .resto__title h2::after {
    right: 4rem;
    top: 50%;
  }
}

.menus__category {
  overflow: hidden;
  padding: 2px;
  animation: menu-appear linear 2000ms;
}
.menus__category .menu-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.75);
}
.menus__category .menu-item .menu-item__price {
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus__category .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
.menus__category .menu-item .menu-item__description h4,
.menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus__category .menu-item .menu-item__description h4 {
  padding: 1rem 0;
}
.menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus__category .menu-item:hover {
  cursor: pointer;
}
.menus__category .menu-item:hover .menu-item__check {
  display: grid;
  margin-right: 0;
}
.menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  margin-left: -4rem;
}
.order button {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.order button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}
@media (max-width: 375px) {
  .order .order {
    display: grid;
    justify-content: center;
    height: 8vh;
  }
  .order .order button {
    display: block;
    font-size: 1rem;
  }
}

@keyframes menu-appear {
  0% {
    opacity: 0;
    margin-top: -200px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
