@use "../utils/colors.scss";
@use"../utils/mixins.scss";

.explorer {
    text-align: center;
    background-color: #F6F6F6;
    height: 230px;

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    

    button {
        @include mixins.base-button;
    }
        
    }

