@use "../utils/colors.scss";
@use"../utils/mixins.scss";

.explorer {
    text-align: center;
    
    padding: 20px 7rem;

    @media (max-width: 1000px) {
        padding: 20px 1rem;
    }


    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    

    button {
        @include mixins.base-button;
    }
        
    }

