@use "./../utils/colors.scss";







/*mon animation perso*/
@keyframes blink {
    0%, 50% {
      opacity: 1;
      color: white;
    }
    51%, 100% {
      opacity: 0;
      color: black;
    }
  }
  
  footer .fas {
    animation: blink 1s infinite;
  }
  
   

  footer {
    padding-top: 40px;
    padding-right: 40px;
    background-color: colors.$darkgrey; 
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    color: white;
}

footer p {
    padding-right: 60px;
    font-size: 14px;
}

footer h2 {
    order: -1; /* Pour placer "OhMyFood" toujours en premier */
    padding-top: 1px;
    font-family: "Shrikhand", "sans-serif";
        font-weight: 500;
}

footer .contact {
    order: 1;
}

footer .mentions {
    order: 2;
}

footer .partenaire {
    order: 3;
}

footer .proposer {
    order: 4;
}

@media only screen and (max-width: 800px) {
    footer {
        padding: 1rem 2rem;
        flex-direction: column;

        h2 {
            padding: 1rem 0;
        }

        p {
            padding: 0.2rem;
        }

        .fa, .fas {
            font-weight: 900;
            padding-right: 5px;
        }
        .proposer {
            order: 1;
        }

        .partenaire {
            order: 2;
        }

        .mentions {
            order: 3;
        }

        .contact {
            order: 4;
        }
    }
}





