
.container_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: white;
  z-index: 0;
  visibility: hidden;
  animation: loader 3s linear;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #8b77f1;
  border-top-color: #f002c0;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #f002c0;
  border-radius: 50%;
}

.loader:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #f002c0;
  border-radius: 50%;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader {
  0% {
    z-index: 10;
    visibility: visible;
  }
}