@use "../utils/mixins.scss";
@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/animations";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");



#page-resto{   
    header::before {
        @include mixins.font-awesome($font-weight:900);
        content: "\f060";
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px; 
    }       
    @media (max-width: variables.$mobile){
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .banner img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
    @media (max-width: variables.$mobile){
        height: 30vh;
    }
}
    .resto__title  {
    h2{
        text-align: center;
    font-family: "Shrikhand","cursive";
    padding: 2rem 0;
    @include mixins.heart-animated;
    background-color: colors.$lightergrey;
        }
    }
    .resto__main{
        padding: 0 1rem; 
    }       
.menus{   
    display: grid;
    margin-top: -4rem;
    border-radius: 2rem;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    background-color: colors.$lightergrey;
    max-width: 1055px;
    margin: auto;
    position: relative;/*En ajoutant position: relative à la classe .menus et en définissant top: -1cm, on déplace la classe .menus vers le haut d'un centimètre par rapport à sa position normale.*/
    top: -1cm;
    margin-bottom: -38px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius:unset;
    @media (max-width: variables.$breakpoint){
        grid-template-columns: 1fr;
    }
    @media (max-width:variables.$mobile) {
        .menus {
            padding: 0.5rem;
        
        }
      }
}
   
    h3{
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        z-index: 20;
        &::after{
            content:"";
            display: block;
            height: 0.25rem;
            width: 3rem;
            margin-top: 10px;
            background-color: colors.$color-tertiary;
        }
    }
   .menus__category {      
      overflow: hidden;
      padding: 2px;
      animation: menu-appear linear 2000ms;
     
      
        .menu-item{
            display: flex;
            background-color: white;
            border-radius: 1rem;
            overflow: hidden;
            margin-bottom: 2rem;
            @include mixins.box-shadow;
            

            .menu-item__price {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;             
                align-items: flex-end;
            }
            .menu-item__description{
                padding: 1rem;
                overflow: hidden;
                h4, 
                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow : ellipsis;
                } 
                h4 {
                    padding: 1rem 0;
                }
            }
            .menu-item__check {
                display: grid;
                place-items: center;
                flex-shrink: 0;
                $button-width: 4rem;
                border-radius: 0 1rem 1rem 0;
                background-color: colors.$color-tertiary;
                margin-right: -1 * $button-width;
                width: $button-width;
                transition: margin-right 0.5s;
            i {
                display: grid;
                place-items: center;
                background: white;
                aspect-ratio: 1;
                width: 2rem;
                border-radius: 1rem;
                color: colors.$color-tertiary;
            }
        }
            &:hover {
                cursor: pointer;
                .menu-item__check{
                    display: grid;
                    margin-right: 0;
                }
                i {
                    @include animations.quarterspin;
                    animation: quarterspin 0.5s ease-in-out;
                     }
                }
            
            }
         }
    }
    .order{
        display: grid;
        place-items: center;
        button{
            @include mixins.base-button;
        }
    }


@keyframes menu-appear {
    0% {
        opacity: 0;
        margin-top: -200px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

    
    