$lightgrey:#7e7e7e;/* var(--lightgrey);*/
$purple: #9356DC;/* var(--purple);*/
$color-tertiary: #99E2D0;/* var(--color-tertiary);*/
$darkgrey: #353535;/* var(--darkgrey);*/
$lightergrey: #F6F6F6;/* var(--lightergrey);*/
